.image{
	background: url(main.jpg);
	border-style: solid;
    border-color:white;
    background-size:cover;

}
#logo{
	text-align: center;
    color:red;
    font-weight: bold;
    font-size:90px;
    background-color:white;
    height:150px;
    width:150px;
    margin:auto;
    border-radius: 50%;
    margin-top:80px;
    margin-bottom:60px

}
#find{
	margin-left:40px;
	margin-right: 30px;
	color: white; 
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
}
#location{
	
	 margin-top:20px;
    margin-bottom: 40px;
    text-align: center;	
}
#loc{
	width:200px;
    height:40px;
    border-radius: 0%;
    font-size:15px;
    border:none;
    color:gray
    border:1px solid black;

}
.restaurantsinput{
	 width:300px;
    height:40px;
    border-radius: 0%;
    font-size:15px;
    border:none;
    margin-left:20px;
    color:gray
    border:1px solid black;
}
body{

    margin-left:90px;
    margin-right:90px;
}
.rest{
	margin-left: 100px;
  }
#quick{
	color: #192f60;
	font-family:  'Shadows Into Light', cursive;
	font-weight: bolder;
	margin-bottom: 20px;
}  
#sub{
	color: grey;
	font-family:  'Shadows Into Light', cursive;
	margin-bottom: 20px;
	margin-top: 20px;
}
.container{
	height:150px;
    width:300px;
    background-color:white;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px black;
    display: inline-block;
	

}
#part1{
	width:50%;
	float:left;
}
.part2{
	width: 50%;
	float: left;
	font-family:  'Shadows Into Light', cursive;
	

}
#heading{
	text-align:left;
    color:#192f60;
    font-size:30px;
    font-weight: bold;

	
	
	
}
#subhead{
	text-align:left;
    color:gray;
    font-size:20px;
	
	


}

